<section>
  <form method="post" action="?pagina=categoria&metodo=insert">     
    <div class="form-row">
      <div class="col-md-1 mb-3">
        <label for="validationDefault03">Código</label>
        <input type="text" class="form-control" name="codigoCategoria" readonly="true">
      </div>
      <div class="col-md-11 mb-3">
        <label for="validationDefault04">Descrição</label>      
        <input type="text" class="form-control" name="descricaoCategoria" required>       
      </div>    
    </div>   
    <button class="btn btn-success" type="submit">Registrar</button>
  </form>
    <hr>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Descrição</th>                           
        </tr>
      </thead>
      <tbody>
      {% for categoria in categorias %}  
        <tr>
          <td>{{categoria.idCategoriaConta}}</td>
          <td>{{categoria.descricao}}</td>          
        </tr>
      {% endfor %}   
      </tbody>
    </table>   
</section>